
:root {
  --serene: #022238;
  --lune: #89A0BC;
  --fluffy: #e9e9f2;
  --dream: #192130;
  --bean: #342e30;
  --drivel: #758ba2;
}

/* global */

body {
  font-family: Inconsolata;
  background-color: var(--fluffy);
  color: var(--bean);
}

h1 {
  color: var(--dream);
  font-family: Didot;
}

h2 {
  color: var(--serene);
  font-family: Didot;
}

footer {
  position: absolute;
  width: 100%;
}

p {
  text-indent:1em;
}

hr {
  border: none;
  border-top: 3px double #333;
  color: var(--bean);
  overflow: visible;
  text-align: center;
  height: 5px;
  margin: 2rem;
}

/* by classes */
.navbar {
  font-family: Lato;
}

.nav-color {
  color: var(--dream);
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none!important;
    border: none!important;
    box-shadow: none!important;
}

.social-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.social-icons a {
	color: var(--drivel);
}

.disabled-link {
  pointer-events: none;
}


/* by IDs */

#content-col {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#content-row {
  min-height: 200px;
}

#self-img {
  height: 250px;
}

#copytext {
  position: absolute;
  width: 100%;
  color: var(--bean);
  line-height: 40px;
  font-size: 0.7em;
  text-align: center;
}

/* media query - drats! */

@media only screen and (max-width: 1200px) {

  #content-col {
    padding-top: 5rem;
  }
  #tags {
    margin-bottom: 2rem;
  }
  #featured-img {
    margin-bottom: 3rem;
  }

}

@media only screen and (max-width: 991px) {
  /* point at which columns stack*/

  #content-col {
    padding-top: 5rem;
  }
  #intro {
    margin-top: 3rem;
  }
  
}

@media only screen and (max-width: 767px) {
  /* really slim */

  #content-col {
    padding-top: 5rem;
  }
  #intro {
    margin-top: 3rem;
  }
  
}